/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* GENERAL */

body {
  background-color: #ecf2ff;
  color: #cac9ff;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
}

@media (min-width: 48rem) {
  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
}

/* UTILITY */

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
}

/* MAIN */

main {
  background-color: #fff;
}

@media (min-width: 48rem) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
    max-width: 46rem;
    margin: 1rem;
  }
}

/* MAIN RESULT */

.main__result {
  background: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
  text-align: center;
  border-radius: 0rem 0rem 2rem 2rem;
  padding: 1.5rem 3.56rem 2.5rem 3.63rem;
}

@media (min-width: 48rem) {
  .main__result {
    border-radius: 2rem;
    padding: 2.37rem 3.38rem 3.44rem 3.37rem;
  }
}

.result__title {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 48rem) {
  .result__title {
    font-size: 1.5rem;
    margin-bottom: 2.19rem;
  }
}

.result__score {
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
  border-radius: 50%;
  display: grid;
  place-content: center;
  width: 8.75rem;
  height: 8.75rem;
  margin: 0 auto 1.5rem auto;
}

@media (min-width: 48rem) {
  .result__score {
    width: 12.5rem;
    height: 12.5rem;
    margin-bottom: 1.75rem;
  }
}

.score__average {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 4.5rem;
}

@media (min-width: 48rem) {
  .score__average {
    font-size: 4.5rem;
  }
}

.score__total {
  font-weight: 700;
  opacity: 0.5168;
}

@media (min-width: 48rem) {
  .score__total {
    font-size: 1.125rem;
  }
}

.description__title {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 48rem) {
  .description__title {
    font-size: 2rem;
    margin-bottom: 0.88rem;
  }
}

@media (min-width: 48rem) {
  .description__text {
    font-size: 1.125rem;
  }
}

/* MAIN SUMMARY */

.main__summary {
  background-color: #fff;
  padding: 1.5rem 1.87rem 1.88rem 1.88rem;
}

@media (min-width: 48rem) {
  .main__summary {
    padding: 2.38rem 2.5rem 2.88rem 2.5rem;
  }
}

.summary__title {
  color: #303b59;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 48rem) {
  .summary__title {
    font-size: 1.5rem;
    margin-bottom: 1.75rem;
  }
}

.summary__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  margin-bottom: 1.5rem;
}

@media (min-width: 48rem) {
  .summary__list {
    margin-bottom: 2.56rem;
  }
}

.list__item {
  font-size: 1.125rem;
  display: inline-flex;
  justify-content: space-between;
  border-radius: 0.75rem;
  padding: 1.06rem 1rem 1.12rem 1rem;
}

@media (min-width: 48rem) {
  .list__item {
    padding-bottom: 1rem;
  }
}

.list__item--reaction {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #f55;
  color: #f55;
}

.list__item--memory {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #ffb21e;
  color: #ffb21e;
}

.list__item--verbal {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #00bb8f;
  color: #00bb8f;
}

.list__item--visual {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #1125d6;
  color: #1125d6;
}

.item__category {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
}

.item__score {
  display: flex;
  gap: 0.5rem;
  color: #303b59;
}

.score__total {
  opacity: 0.5;
}

.summary__btn {
  position: relative;
  z-index: 0;
  background-color: #303b59;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  border: none;
  border-radius: 8rem;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

.summary__btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s ease-in-out;
}

.summary__btn:hover::before,
.summary__btn:focus::before {
  opacity: 1;
}
